270549758_707546523504994_7507140025660972641_n.jpg
346110921_995262305073610_193557829310811109_n.jpg
346111000_926366428632523_6531557330585915607_n.jpg
Elmeleti_kerdesek_Szamitogepes_kepfeldolgozas_tantargybol.docx
Gyakorlat_macro.xlsm
GyakorlatV2.xlsx
Photoshop.rar
Zh-alpót.docx
Lecture/README.md
Lecture/1 Képfeldolgozás és gépi látás bevezető/02.pdf
Lecture/1 Képfeldolgozás és gépi látás bevezető/Bevezeto_v2.pdf
Lecture/1 Képfeldolgozás és gépi látás bevezető/kep_helyreallitas.PNG
Lecture/1 Képfeldolgozás és gépi látás bevezető/kepfeldolgozas.png
Lecture/1 Képfeldolgozás és gépi látás bevezető/kepfokozas.PNG
Lecture/1 Képfeldolgozás és gépi látás bevezető/keptomorites.PNG
Lecture/10 Szegmentálás/Szegmentalas.pdf
Lecture/10 Szegmentálás/SzegmentalasI.pdf
Lecture/11 Alakleírók, jellemzők/Leirok_jellemzok.pdf
Lecture/12 Optikai folyamok/11VZ.pdf
Lecture/13 Arcfelismerés/Arc_detektalas_felismeres2020.pdf
Lecture/13 Arcfelismerés/Linearis_osztalyozo_AdaBoost.pdf
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/03VZ.pdf
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/04VZ.pdf
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/adott_teglalapra.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/full_img_trans.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/gamma_correction.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/histogram_eq_example.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/histogram_eq_formula.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/histogram_eq.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/histogram_linear.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/histogram.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/img_and_or.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/img_avrg.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/img_extr.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/img_geo_transf.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/intenzitas_szintre.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/kepek_feldolgozasa.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/kontraszt_novel_csokkent.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/kuszoboles_pelda.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/kuszoboles.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/linear_sc.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/negated.PNG
Lecture/2 Adatstruktúrák a képfeldolgozásban, intenzitás transzformációk/Viola_and_Jones.PNG
Lecture/3-4 Szűrés képtérben/1D_conolution.PNG
Lecture/3-4 Szűrés képtérben/05VZ.pdf
Lecture/3-4 Szűrés képtérben/binomial_mask.PNG
Lecture/3-4 Szűrés képtérben/box_filter.PNG
Lecture/3-4 Szűrés képtérben/conv_example.PNG
Lecture/3-4 Szűrés képtérben/example.PNG
Lecture/3-4 Szűrés képtérben/filter_Example.PNG
Lecture/3-4 Szűrés képtérben/filtering.PNG
Lecture/3-4 Szűrés képtérben/gauss_filter.PNG
Lecture/3-4 Szűrés képtérben/gauss_mask.PNG
Lecture/3-4 Szűrés képtérben/gauss_no_ring_effect.PNG
Lecture/3-4 Szűrés képtérben/laplace_example.PNG
Lecture/3-4 Szűrés képtérben/laplace_filter.PNG
Lecture/3-4 Szűrés képtérben/laplace_sharpening.PNG
Lecture/3-4 Szűrés képtérben/lena_binom_avrg.PNG
Lecture/3-4 Szűrés képtérben/mask_n_n.PNG
Lecture/3-4 Szűrés képtérben/mask.PNG
Lecture/3-4 Szűrés képtérben/med_avrg.PNG
Lecture/3-4 Szűrés képtérben/med_mask_example.PNG
Lecture/3-4 Szűrés képtérben/ring_effect.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/06VZ.pdf
Lecture/5 Élek, sarokpontok, speciális szakaszok/atlagos_intenzitas_szamolasa.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/canny_edge_detector_corner_effect.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/canny_edge_detector_first_two_steps.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/canny_edge_detector_non_maximum_suppression.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/canny_edge_detector_third_step.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/canny_low_and_high_threshold.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/change_detection_1D.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/diff_example.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/edge_definitions.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/edge_detection_masks.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/edge_detection_steps.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/edges_changes.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/elerossseg_tomb_elkeszitese.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/elszakasz_meghatarozasa.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/elvart_helyzetu_elszakaszok_detektalasa.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/gauss_laplace.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/grad_f.png
Lecture/5 Élek, sarokpontok, speciális szakaszok/kanade_lucas_tomasi.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/mexican_hat.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/moravec_operator.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/prewitt_mask.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/robinson_mask.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/sobel_edge_detection_example.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/sobel_edge_detection_threshold.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/sobel_edge_detection.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/sobel_mask.PNG
Lecture/5 Élek, sarokpontok, speciális szakaszok/susan_nucleus.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/egyertelmuseg_lokalis_erteke.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/harris_operator.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/jellemzo_detektalas.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/Jellemzok1.pdf
Lecture/6 Mintaillesztés és Jellemző pontok keresése/Mintaillesztes.pdf
Lecture/6 Mintaillesztés és Jellemző pontok keresése/nehezebb_esetek.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/pairing.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/summary.PNG
Lecture/6 Mintaillesztés és Jellemző pontok keresése/summary2.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/07VZ.pdf
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/alma_narancs_osszeolvasztas.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/gauss_piramid_example.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/Hough1.pdf
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/keppiramisok.png
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/laplace_piramis.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/osszeolvasztas_maszkkal.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/piramis_levels.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/simitas.png
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/Split_merge_konturra.pdf
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/sub_sampling_2.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/sub_sampling_gauss_szurovel.PNG
Lecture/7 Képpiramisok és Vonaldetektálás Hough transzformációval/sub_sampling.PNG
Lecture/9 Modellezés matematikai alapjai, transzformációk leírása/Modellezes1VZ.pdf
Lecture/9 Modellezés matematikai alapjai, transzformációk leírása/Transzformaciok_v2.pdf
resource/341479102_578226317428771_8852569465450343195_n.png
resource/341480904_697076518842064_5386945001421252252_n.jpg
resource/1/2D_transzformacio.pptx
resource/1/Bevezeto_v2.pdf
resource/1/Bevezeto_v2.pptx
resource/1/f7cz1w_hf10.xlsx
resource/1/Hough_sarokpont_kepfel2.xlsx
resource/1/kepfel3.pdf
resource/1/kis_negyzet.xlsx
resource/1/KPA0J8_Kepfel.docx
resource/1/Mintaillesztes.pdf
resource/1/Mintaillesztes.pptx
resource/1/Modellezes1VZ.doc
resource/1/Modellezes1VZ.pdf
resource/1/Split_merge_konturra.docx
resource/1/Split_merge_konturra.pdf
resource/1/Transzformaciok_v2.pdf
resource/1/Transzformaciok_v2.pptx
resource/1/2011MSc/CCA.pdf
resource/1/2011MSc/Elmelet0509.doc
resource/1/2011MSc/Feladat0228.doc
resource/1/2011MSc/Feladat0319.doc
resource/1/2011MSc/IAR_2013_10_07_ZH.doc
resource/1/2011MSc/Kepfeldolgozas_zarthelyi_es_vizsgafeladatok_kerdesek.doc
resource/1/2011MSc/Kerdesek_feladatok_2013.doc
resource/1/2011MSc/mozgaserzekeleswebkameraval.pdf
resource/1/2011MSc/MSc_2012_05_14_ZH.doc
resource/1/2011MSc/MSc_2012_12_11_ZH.doc
resource/1/2011MSc/OOP_NEW.ZIP
resource/1/2011MSc/példa_DFT.pdf
resource/1/2011MSc/pinhole_kamera_keszites.pdf
resource/1/2011MSc/zh0509.doc
resource/1/2011MSc/zh0519.doc
resource/1/2011MSc/01Bevezetes/Bevezetes_new.ppt
resource/1/2011MSc/01Bevezetes/Bevezetes.ppt
resource/1/2011MSc/01Bevezetes/PlanOfBook.svg
resource/1/2011MSc/01BKamerakepalkotas/02.ppt
resource/1/2011MSc/01BKamerakepalkotas/03.ppt
resource/1/2011MSc/01BKamerakepalkotas/KameraBevezetes.ppt
resource/1/2011MSc/01BKamerakepalkotas/KameraKepalkotas.ppt
resource/1/2011MSc/01Elemi_muveletek/Bilateralis_szuro.ppt
resource/1/2011MSc/01Elemi_muveletek/Elemi_muveletek_email.pdf
resource/1/2011MSc/01Elemi_muveletek/Elemi_muveletek.pdf
resource/1/2011MSc/01Elemi_muveletek/Elemi_muveletek.ppt
resource/1/2011MSc/01Elemi_muveletek/PontMuveletek.pdf
resource/1/2011MSc/02Filtering/04.ppt
resource/1/2011MSc/02Filtering/Filtering.pdf
resource/1/2011MSc/02Filtering/Szures_email.pdf
resource/1/2011MSc/02Filtering/Szures.pdf
resource/1/2011MSc/02Filtering/Szures.ppt
resource/1/2011MSc/03Histogram/Binarizalas.pdf
resource/1/2011MSc/04Features/brown_cvpr05.pdf
resource/1/2011MSc/04Features/Jellemzok_email.pdf
resource/1/2011MSc/04Features/Jellemzok.pdf
resource/1/2011MSc/04Features/Jellemzok.ppt
resource/1/2011MSc/04Features/Jellemzok1.pdf
resource/1/2011MSc/04Features/Jellemzok1.ppt
resource/1/2011MSc/04Features/mikolajczyk_pami05.pdf
resource/1/2011MSc/04Features/SpeedeUpRobustFeatures_eccv06.pdf
resource/1/2011MSc/05Piramis/Piramis_email.pdf
resource/1/2011MSc/05Piramis/Piramis_new.pdf
resource/1/2011MSc/05Piramis/Piramis_new.ppt
resource/1/2011MSc/05Piramis/Piramis.ppt
resource/1/2011MSc/06Elkereses/Elkereses.pdf
resource/1/2011MSc/07OpenCV/cvPreProcessor for OpenCv 2.1.zip
resource/1/2011MSc/07OpenCV/Intro_OpenCV.ppt
resource/1/2011MSc/07OpenCV/ocv.rar
resource/1/2011MSc/07OpenCV/OpenCV_Generic_Foils_2_2011.pptx
resource/1/2011MSc/07OpenCV/DirectCV/DirectCV-all (2.2.0.66).zip
resource/1/2011MSc/07OpenCV/DirectCV/opencv_dlls.zip
resource/1/2011MSc/08Fourier/05.ppt
resource/1/2011MSc/08Fourier/ImageProcessing-Fourier.pdf
resource/1/2011MSc/09Leirok/Leirok_jellemzok.pdf
resource/1/2011MSc/09Leirok/Leirok_jellemzok.ppt
resource/1/2011MSc/09Leirok/Leirok.ppt
resource/1/2011MSc/10Interpolacio/SpatialPresentation.pdf
resource/1/2011MSc/11Morfologia/morfologia.pdf
resource/1/2011MSc/13Hough/11.ppt
resource/1/2011MSc/13Hough/12.ppt
resource/1/2011MSc/13Hough/Hough.pdf
resource/1/2011MSc/13Hough/Hough1.pdf
resource/1/2011MSc/13Hough/Hough1.ppt
resource/1/2011MSc/14Szegmentalas/09-Segmentation.pdf
resource/1/2011MSc/14Szegmentalas/bericht123.pdf
resource/1/2011MSc/14Szegmentalas/CCA.pdf
resource/1/2011MSc/14Szegmentalas/Csetverikov_jegyzet.pdf
resource/1/2011MSc/14Szegmentalas/Czuni_Tanacs_Kepi_Informacio_Merese_TA_fejezetek.pdf
resource/1/2011MSc/14Szegmentalas/EFOP_351_MobilKepelemzesEsGrafika_Eloadasok_Feladatok.pdf
resource/1/2011MSc/14Szegmentalas/Szegmentalas.pdf
resource/1/2011MSc/14Szegmentalas/Szegmentalas.ppt
resource/1/2011MSc/14Szegmentalas/SzegmentalasI.pdf
resource/1/2011MSc/14Szegmentalas/SzegmentalasI.ppt
resource/1/2011MSc/16Color/Color.ppt
resource/1/2011MSc/17Arc/AAAI-tutorial-2.ppt
resource/1/2011MSc/17Arc/Arc_detektalas_felismeres.ppt
resource/1/2011MSc/17Arc/Arc_detektalas_felismeres2020.pdf
resource/1/2011MSc/17Arc/Arc_detektalas_felismeres2020.ppt
resource/1/2011MSc/17Arc/FaceRecognition.ppt
resource/1/2011MSc/17Arc/GépiTanulás.pptx
resource/1/2011MSc/17Arc/Linearis_osztalyozo_AdaBoost.pdf
resource/1/2011MSc/17Arc/Linearis_osztalyozo_AdaBoost.ppt
resource/1/2011MSc/17Arc/Linearis_osztalyozo_hatter_Pocket.pptx
resource/1/2011MSc/17Arc/Linearis_osztalyozo_hatter.ppt
resource/1/2011MSc/17Arc/Linearis_osztalyozo.ppt
resource/1/2011MSc/17Arc/Mintafelismeres_alapfogalmak.ppt
resource/1/2011MSc/17Arc/Mintafelismeres_alapfogalmak.pptx
resource/1/2011MSc/17Arc/Tanulasi_problema.ppt
resource/1/2011MSc/17Arc/viola1.ppt
resource/1/ParhuzamosKepfeldolgozas/.dropbox
resource/1/ParhuzamosKepfeldolgozas/.dropbox.attr
resource/1/ParhuzamosKepfeldolgozas/desktop.ini
resource/1/ParhuzamosKepfeldolgozas/MINTA_elsőoldal.ppt
resource/1/ParhuzamosKepfeldolgozas/VeglegesTananyagKepfeldolgozas.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/1_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/12_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/13_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/14_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/15_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/16_fejezet.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/Fejezetek_egyben.pdf
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/1_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/12_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/13_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/14_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/15_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/16_fejezet.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/Fejezetek_egyben.tex
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/javitva.txt
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/tabla.csv
resource/1/ParhuzamosKepfeldolgozas/RovidAndras/forras/pic/pic.zip
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/Alakleirok.pdf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/javitani.txt
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/Szegmentalas.pdf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/Textura.pdf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Alakleirok.tex
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/beamerouterthemesplit.sty
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Codes/boundarydescr.m
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/ChainCode02a.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/ChainCode02b.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/ChainCode02c.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/FourierDescr01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/FourierDescr02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/FourierDescr03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Moments01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Moments02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/shape.jpg
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Signature01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Snake01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Snake02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/AlaklairokLaTeX/Images/Snake03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/beamerouterthemesplit.sty
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Szegmentalas.tex
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Codes/imthresh.m
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Draws/InnerBorder01.pgf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Draws/InnerBorder02.pgf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Draws/InnerBorder03.pgf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Draws/InnerBorder04.pgf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Draws/InnerBorder05.pgf
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/144067.jpg
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/368078.jpg
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin01.jpg
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin04.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin05.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin06.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin07.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin08.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin09.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin10.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin11.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin12.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin13.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin14.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Bin15.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough04.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough05.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough06.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough07.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough08.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough09.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough10.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Hough11.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough12.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough13.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough14.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough15.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough16.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough17.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough18.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough19.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough20.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough21.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/hough22.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/patrick.jpg
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/Peakiness.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG04.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG05.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/RG06.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/SM01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/SM02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/SM03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/SM04.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/SM05.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS01.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS02.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS03.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS04.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS05.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS06.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS07.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS08.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS09.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS10.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS11.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS12.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS13.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS14.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS15.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS16.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS17.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS18.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/SzegmentalasLaTeX/Images/WS19.png
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/TexturaLaTeX/beamerouterthemesplit.sty
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/TexturaLaTeX/Textura.tex
resource/1/ParhuzamosKepfeldolgozas/SergyanSzabolcs/TexturaLaTeX/Images/texture.jpg
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/02.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/02KepfeldolgozasBevezeto.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/03.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/03Adatstrukturak.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/04.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/04IntenzitasTranszformaciok.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/05.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/05Szures.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/06.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/06ElekSarokpontok.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/07.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/07Keppiramis.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/11.pdf
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/11OptikaiAramlas.pptx
resource/1/ParhuzamosKepfeldolgozas/VamossyZoltan/GépiTanulás.pptx
resource/2/alakleiro.xlsx
resource/2/Alakleirok_jellemzok (1).xlsx
resource/2/Alakleirok_jellemzok.xlsx
resource/2/Elek_sarokpontok_specialis_szakaszok.xlsx
resource/2/Fűr_Balázs_Számítógépes képfeldolgozás projekt feladat.pdf
resource/2/H_matrix.xlsx
resource/2/Hough_transzformacio_jellemzopont.xlsx
resource/2/Kepfel_1_gyakorlas.xlsx
resource/2/képfeld.txt
resource/2/Molnar_Vince_CNI3XR_3f.xlsx
resource/2/Objektum_transzformacio (1).xlsx
resource/2/Objektum_transzformacio.xlsx
resource/2/Számítógépes képfeldolgozás projekt feladat.docx
resource/2/Tema_9_gyak.xlsx
resource/2/Tema_9_gyak2.xlsx
resource/2/Tema_11gyak.docx
resource/2/ttknyuzcikk.pdf
resource/2/ZH.xlsx
Semester_Assignment/eye_blink_project_v2.py
